.container {
    display: flex;
    justify-content: space-around;
    border: 2px solid #ccc;
    background-color: bisque;
}

.button {
    padding: 15px 25px;
    background-color: rgb(209, 192, 225);
    color:black;
    border: none;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    cursor: pointer;
}