button {
    background-color: lightblue;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: lightgrey;
    color: white;
}

button:active{
    transform: scale(0.80);
    color: red;

}

input:focus {
    border: 2px solid orange;
    outline: none;
    background-color: beige;
}

li:nth-child(2) {
    color: red;
}

li:nth-child(odd){
    background-color: blue;
}
li:nth-child(even){
    background-color: rgb(0, 255, 106);
}
li:first-child {
    font-weight: bold;
}
li:not(:first-child) {
    color: green;
}

input:checked + label {
    font-weight: bold;
    color: darkblue;
}

fieldset:disabled {
    background-color: grey;
}

input:invalid{
    border: 2px solid green;
}

fieldset:focus-within {
    border-color: red;
}

p::before {
    content: "⚠️";
}

input::placeholder {
    color: purple;
    font-style: italic;
}