.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px); 
    background-color: rgb(170, 151, 151);
    gap: 10px;
    padding: 10px;
}

.container div {
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .box5 {
    grid-column: span 2;
    background-color: rgba(126, 33, 33, 0.69) ;
    color: antiquewhite;
}